@model IEnumerable<Abdülkadir_Şengül.Models.Bolum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_kullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Bölüm Ekle", "BolumEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
        </tr>
    }

</table>