<div class="container" style="height: 100px; background-color: sandybrown;">
    <div class="row">
        <div class="col-md-12">
            <p class="float-left p-3" style="margin-top:5px">Kadir Makale</p>
            <a href="~/Oturum/Giris" style="margin:5px" class=" pull-right btn btn-danger p-4 mt-4">Çıkış Yap</a>
            <a href="~/KullaniciEkle" style="margin:5px" class=" pull-right btn btn-primary p-4 mt-4">Kullanıcı Ekle</a>
            <a href="~/KategoriEkle" style="margin:5px" class=" pull-right btn btn-success p-4 mt-4">Kategori Ekle</a>
            <a href="~/Bolums/BolumEkle" style="margin:5px" class=" pull-right btn btn-warning p-4 mt-4">Bölüm Ekle</a>
            <a href="~/Unvans/UnvanEkle" style="margin:5px" class=" pull-right btn btn-outline-secondary p-4 mt-4">Unvan Ekle</a>
            <a href="~/Makales/MakaleEkle" style="margin:5px" class=" pull-right btn btn-success p-4 mt-4">Makale Ekle</a>
        </div>
    </div>
    <hr class="m-0 p-0 w" style="border: 2px solid black;">
</div>