<div class="container" style="height:85px; background-color:sandybrown;">
    <div class="row">
        <div class="col-md-12">
            <p class="p-3" style="margin-top:20px">Kadir Makale</p>
            <div class="pull-right" >
                <a href="~/Oturum/Giris" class="pull-right p-4 btn btn-danger" >Giriş</a>
            </div>
        </div>
        </div>
    </div>
<hr style=" border: 2px solid black; width:350px; margin-top:0;">